<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".StickerApplication"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="com.vinicius.sticker.view.main.EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.feature.stickerpack.presentation.activity.StickerPackListActivity" />
        <activity
            android:name=".view.feature.stickerpack.presentation.activity.StickerPackDetailsActivity"
            android:parentActivityName=".view.feature.stickerpack.presentation.activity.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.feature.stickerpack.presentation.activity.StickerPackListActivity" />
        </activity>
        <activity
            android:name=".view.feature.stickerpack.presentation.activity.StickerPackMetadataActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName=".view.feature.stickerpack.presentation.activity.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.feature.stickerpack.presentation.activity.StickerPackDetailsActivity" />
        </activity>
        <activity android:name=".view.feature.stickerpack.presentation.activity.StickerPackCreationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.feature.stickerpack.presentation.activity.StickerPackCreationActivity" />
        </activity>
        <activity android:name=".view.feature.stickerpack.presentation.activity.InitialStickerPackCreationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.feature.stickerpack.presentation.activity.InitialStickerPackCreationActivity" />
        </activity>

        <provider
            android:name=".domain.data.content.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:permission="com.whatsapp.sticker.READ" />
    </application>

    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        tools:ignore="ManifestOrder" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="ManifestOrder,SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess,WrongManifestParent" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <!-- to be able to query the whitelist status in WhatsApp
     https://developer.android.com/training/basics/intents/package-visibility#package-name -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>
</manifest>
